<div class="card-footer">
    <footer>
        <div class="row">
            <div class="col-sm-4 d-flex flex-column" id="redes">
                <a href="http://www.facebook.com">Facebook</a>
                <a href="http://www.youtube.com">Youtube</a>
                <a href="http://www.instagram.com">Instagram</a>
                <a href="https://github.com.ec">Github</a>
            </div>

            <div class="col-sm-4 d-flex flex-column align-items-end">
                <address>
                    
                    <p> Loja, Universidad Nacional de Loja, Ecuador</p>
                    <p> 0939045202</p>
                    <p> luisfms1701@gmail.com</p>
                </address>
            </div>
        </div>
    </footer>
</div>